{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>edit page</h1>

<form action="{% url 'save edit' %}" method="POST">

    {% csrf_token %}

    <div>
        <input type="text" , placeholder="enter the title" name="title" id="title" value="{{title}}">
    </div>

    <div>
        <textarea placeholder="enter the content of the page" name="content" id="content">{{content}}</textarea>
    </div>

    <div>
        <input type="submit" value="save page">
    </div>
</form>

{% endblock %}